<div class="container mt-3" >
      <h4 class="text-success">Search</h4>
      <form #Form="ngForm" >
      <div>
            <input type="text"  name="search"class="form-control"  ngModel>
      </div>
      </form>
      <hr>
      <table class="table mx-3 mt-3">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">City</th>
                <th scope="col">State</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of results index as i " >
                <th scope="row">{{i+1}}</th>
                <td>{{row.name}}</td>
                <td>{{row.add}}</td>
                <td>{{row.city}}</td>
                <td>{{row.state}}</td>

              </tr>
             
             
            </tbody>
          </table>

</div>
